<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was made by <a target="_blank" href="https://github.com/cchoi12">Chris Choi</a> A guy just learning the ways of coding, a lot of fun so far!
  </p>
  <p>
    Started in customer experience / success but now want to transition into web developing. Want to take my career to the next level.
</p>

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'chris.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Chris Choi</h2>
  <br />
  <p>
    A budding web developer with startup experience and strong grasp of working in a team outside of one's own department. Lover of dogs, cats and my home Los Angeles.
  </p>
</div>
<br class="clear" />

</div>

<br class="clear"/>
<br />
<br />
<br />